.page {
  display: grid;
  grid-template-columns: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  grid-auto-flow: row;
  place-content: start center;
  padding-top: 100px;
  padding-bottom: 105px;
  color: var(--accent-color);
  font-family: Inter-Variable, serif;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  block-size: 100%;
  font-variation-settings: "wght" var(--title-font-weight)
    var(--main-font-weight);
  grid-gap: 100px;
}

.card {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem) 0 20px;
  font-family: "PressStart2P-Regular", serif;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  line-height: 100%;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  line-height: 100%;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 1px;
  padding-left: 2px;
}

.theme-menu__button {
  border: none;
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  text-transform: inherit;
  background-color: transparent;
  transition: 0.3s ease;
  will-change: transform;
}

.theme-menu__button::after {
  content: "";
  display: block;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  background-color: var(--accent-color);
  transform: scaleX(1);
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

:disabled {
  opacity: 0.6;
  pointer-events: none;
}

:disabled::before {
  content: "▶";
  position: relative;
  animation: arrow 0.5s infinite ease-in-out alternate;
}

.page__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section__card {
  font-size: 18px;
}

.section__title {
  padding: 6px 10px;
  font-size: 18px;
  line-height: 21.78px;
  font-variation-settings: "wght" var(--main-font-weight);
}

.section__image__container {
  position: relative;
}

.section__image {
  object-fit: cover;
  outline: 2px solid var(--accent-color);
  inline-size: 100%;
  block-size: 100%;
}

.section__image-sepia {
  filter: sepia(90%);
}

.section__image-grayscale {
  filter: grayscale(80%);
}

.section__image-saturate {
  filter: saturate(400%);
}

.section__image-hue-rotate {
  filter: hue-rotate(290deg);
}

.section__image-invert {
  filter: invert(0.8);
}

.section__image-blur {
  filter: blur(1rem);
}

.section__image-low-contrast-hue-rotate {
  filter: contrast(50%) hue-rotate(20deg);
}

.section__image__label {
  position: absolute;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: "PressStart2P-Regular", serif;
  font-size: 14px;
  text-shadow: 0 0 1px var(--background-color);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .section__image__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color, #fff);
    text-stroke: 1px var(--background-color, #fff);
  }
}

.section__content-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 25px 25px;
}

.section__content-block-text {
  display: flex;
  flex-direction: column;
  gap: 26px;
  line-height: 21px;
  font-variation-settings: "wght" var(--main-font-weight);
}

.button-like__container {
  display: flex;
  flex-direction: row;
  align-self: end;
  block-size: 38px;
}

.section__icon-button {
  border: none;
  background-color: transparent;
}

.section__icon-button:focus {
  outline: none;
}

.like-icon {
  cursor: pointer;
}

.button {
  display: flex;
  place-content: center;
  border: 2px solid var(--accent-color);
  font-family: "PressStart2P-Regular", serif;
  font-size: 14px;
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  will-change: transform;
}

.button:focus {
  position: relative;
  box-shadow: 2px 2px;
  outline: none;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  display: block;
  background-color: var(--button-hover-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  mix-blend-mode: difference;
  block-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

.section__like-button {
  inline-size: 130px;
}

.button__text {
  align-self: center;
}

.dialog__button {
  gap: 8px;
  margin: 2px auto 0;
  padding: 15px;
  inline-size: clamp(19.125rem, 18.487rem + 2.723vw, 20.938rem);
}

.floppy-image {
  inline-size: 21px;
  block-size: 21px;
}

.dialog__message {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: min-content;
  grid-template-areas:
    "dialog__content"
    "ok-button";
  justify-content: center;
  padding: 30px;
  opacity: 1;
  color: currentColor;
  transition: opacity 0.3s ease-in-out;
  inline-size: clamp(21.313rem, 20.96rem + 1.502vw, 22.313rem);
}

.dialog__message:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog__message::backdrop {
  background-color: rgb(0 0 0 / 0.7);
}

.dialog__content {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-areas: "floppy dialog-text";
  grid-column-gap: 20px;
  grid-area: dialog__content;
  justify-content: start;
  padding-block-end: 30px;
  font-family: "PressStart2P-Regular", serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog__message__floppy-image {
  grid-area: floppy;
  align-self: center;
}

.dialog__message__text {
  grid-area: dialog-text;
}

.dialog__message__close-button {
  grid-area: ok-button;
  padding: 12.5px 0;
  text-align: center;
  inline-size: clamp(16.063rem, 15.27rem + 3.38vw, 18.313rem);
}

@media (width < 376px) {
  .page {
    grid-template-columns: 100%;
  }

  .section__title {
    padding: 4px 10px 6px;
  }

  .section__image__label {
    inset-inline-end: 13px;
  }

  .section__content-block {
    gap: 26px;
    padding: 24px 25px 26px 26px;
  }

  .section__content-block-text {
    gap: 27px;
  }

  .button-like__container {
    gap: 2px;
    block-size: 36px;
  }

  .dialog__button {
    display: flex;
    flex-direction: column;
  }

  .floppy-image {
    place-self: center;
    inline-size: 28px;
    block-size: 28px;
  }
}
